body
{
   background-color:teal;
   font-family:'Times New Roman', Times, serif;
   font-size:120%;
}

h2
{
    font-size:100%;
}

p
{
   background-color: yellow;
   color:blue;
   font-size:90%;
}

ul,ol
{
   background-color:salmon;
   text-align: center;
   font-size:80%;
}

